<div id="principal" class="container">
    <ol id="breadcrumb">
        <li>
            <a [routerLink]="['Principal']"><img class="img-rounded" src="app/img/Arrow.gif">Home</a>
        </li>
        <li id="raya">/</li>
        <li><a id="active">Edit Clasification</a>
        </li>
    </ol>
    <div id="cuerpo">
        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs">
                <div id="galeria1">
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Form to edit a clasification</h3>
                    </div>
                    <div class="panel-body">
                        <form name="formteam" (ngSubmit)="onSubmit()" #clasificationForm="ngForm">
                            <fieldset>
                                <legend>Sheet clasification:</legend>

                                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
                                    <p>
                                        <b>Points*:</b>
                                        <input ngControl="point"  #point="ngForm" [(ngModel)]="points" type='number' class="form-control" name='teamPoints' pattern="[0-9]{1,2}" placeholder="0" id="teampoints" required>
                                    </p>
                                </div>

                            </fieldset>

                            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                                <p>Items marked with * will be required by the form. All red boxes have to be green</p>
                            </div>

                            <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2">
                                <input [disabled]="!clasificationForm.form.valid" class="btn btn-default" (click)="save()" type='submit' name='enviar' value='Submit' />
                            </div>
                        </form>
                        <div class="col-xs-12 col-lg-10 col-md-10 col-sm-10">
                            <button class="btn btn-default" (click)="cancel()" name='cancel'>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <div id="galeria2">
                </div>
            </div>
        </div>
    </div>
