<div id="principal" class="container">
        <ol id="breadcrumb">
            <li>
                <a [routerLink]="['Principal']"><img class="img-rounded" src="app/img/Arrow.gif">Home</a>
            </li>
            <li id="raya">/</li>
            <li><a [routerLink]="['Teams']">Teams</a>
            </li>
            <li id="raya">/</li>
            <li><a [routerLink]="['TeamDetail', {id: player.equipo.id}]">{{player.equipo.fullname}}</a>
            </li>
            <li id="raya">/</li>
            <li id="active">{{player.name}} {{player.lastname}}</li>
        </ol>
        <div id="cuerpo">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                 <h1>Information about player: <small>{{player.name}} {{player.lastname}}</small></h1>
              </div>
              <div *ngIf="loginService.isLogged" class="col-md-2 col-sm-2 col-xs-12">
                  <button (click)="editPlayer()" id="botonEdit"><img src="app/img/Edit.png"> Edit Team</button>
              </div>
              <div *ngIf="loginService.isLogged" class="col-md-2 col-sm-2 col-xs-12">
                  <button (click)="removePlayer()" id="botonEliminar"><img src="app/img/Remove.png">Remove Team</button>
              </div>
            </div>
            <div id="jugador">
                <div class="row">
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <img class="img-responsive" src={{player.imagePlayer}} alt="Drogba" width="600" height="450">
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div id="texto">
                            <h2>Biography</h2>
                            <p>
                                Didier Yves Drogba Tébily is an Ivorian professional footballer who plays as a striker for Canadian club Montreal Impact. He is best known for his career at Chelsea, for whom he has scored more goals than any other foreign player and is currently the club's fourth highest goal scorer of all time. He has been named African Footballer of the Year twice, winning the accolade in 2006 and 2009.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
